.idea/
*.egg-info
cover
.coverage
*.pyc
__pycache__
.ipynb_checkpoints/
.DS_Store
.mypy_cache/
*.log
.python-version
*.pth
!/mnt/cervical_cancer/predictions/conv_nets_imagenet_norms_for_finetuning_and_model_36_downstream_norms/baseline_runs/training/dinov1_resnet50_unfinetuned_training_model_36_downstream_norms/best_metric_model.pth